p {
  margin: 0;
  padding: 0;
}


.InputBox {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}